body {
    background: #ee0979; 
    background: -webkit-linear-gradient(to right bottom, #ff6a00, #ee0979);
    background: linear-gradient(to right bottom, #ff6a00, #ee0979); 

}

.hashtags {
    display: block;
}